# Dependencies
node_modules/

# Build
dist/
coverage/

# Env
.env
.env.local
.env.*.local

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Prisma
prisma/*.db
prisma/*.db-journal
